<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class X - Delhi Public School</title>
</head>
<body>
    <ul>
        <li>the marks of john is {{marks['john']}}</li>
        <li>the marks of sourabh is {{marks['sourabh']}}</li>
        <li>the marks of alexa is {{marks['alexa']}}</li>
<!--    <li>the marks of mark is </li>
        <li>the marks of jeff is </li>
        <li>the marks of lily is </li> -->
    </ul>
</body>
</html>